index.css
/* Global Styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-image: url('./assets/images/Desktop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

@media (max-width: 640px) {
    body {
        background-image: url('./assets/images/Mobile.png');
        background-size: 100% 100%;
        background-position: top center;
    }
}

@media (max-width: 1200px) {
    body {
        background-image: url('./assets/images/Mobile.png');
        background-size: 100% 100%;
        background-position: top center;
    }
}

/* ---------------------------- gif logo ------------------------------- */
.gif-parant {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}

.logogif {
    width: 27%;
}



/* Mobile view */
@media (max-width: 640px) {
    .gif-parant {
        padding-top: 6vh;
    }

    .logogif {
        width: 60%;
    }
}

/* ------------------------------------------------------- */

.parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 57%;
    left: 50%;
    width: 85vw;
    transform: translate(-50%, -50%) rotate(-5deg);
}

.text {
    width: 80%;
    transform: rotate(3.5deg);
}

.button-container {
    position: relative;
    padding-top: 1%;
}


.button-frame {
    display: block;
    width: 88%;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: transform 0.2s ease, 0.2s ease;

    
}
.button-frame:hover {
    transform: scale(1.02);
}

.button-frame:active {
    transform: scale(0.98);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12rem;
}
.button-text {
    position: absolute;
    top: 58%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    pointer-events: none;
}

/* Responsive layouts based on screen width */
@media (min-width: 1200px) and (max-width: 1800px) {
    .parent {
        width: 90vw;
        transform: translate(-50%, -50%) rotate(-5deg);

    }
   

    .button-container {
        padding-top: 2%;
    }

    .button-frame {
        width: 70%;
    }

    .button-text {
        position: absolute;
        top: 52%;
        left: 35%;
    }

    .gif-parant {
        padding-top: 10vh;
    }

    .logogif {
        width: 50vh;
    }
    .text {
        width: 75%;
        transform: rotate(5deg);
    }
}


@media (min-width : 640px ) and (max-width : 1200px) {
    .parent {
        top: 70% ;
        left: 50%;
        width: 95vw;
        transform: translate(-50%, -50%) rotate(-3deg);

    }


    .text {
        width: 45vw;
        transform: rotate(5deg);
    }

    .button-container {
        padding-top: 2%;
    }

    .button-frame {
        width: 40vw;
    }

    .button-text {
        font-size: 1.4rem;
    }

    .gif-parant {
        padding-top: 8vh;
    }

    .logogif {
        width: 40vh;
    }
}

@media (min-width : 440px) and (max-width : 640px) {
    .parent {
        display: block;
        top: 69%;
        left: 50%;
        width: 80vw;
        transform: translate(-50%, -50%);
        overflow: hidden;

    }

    .parent-text {
        display: flex;
        justify-content: center;
        transform: rotate(-6deg);
    }

    .text {
        width: 63%;
    }

    .button-parent {
        transform: rotate(-1deg) translateY(-20px);
    }

    .button-container {
        padding-top: 0%;
        display: flex;
        justify-content: center;
        transform: rotate(-4deg);
    }

    .button-frame {
        display: block;
        width: 62%;
        margin-bottom: 0.2rem;
    }

    .button-text {
        left: 50%;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 1px;
        top: 50%;
    }

   
}
@media (max-width: 440px) {
    .parent {
        display: block;
        top: 69%;
        left: 50%;
        width: 100vw;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }

    .parent-text {
        display: flex;
        justify-content: center;
        transform: rotate(-6deg);
    }

    .text {
        width: 63%;
    }

    .button-parent {
        transform: rotate(-1deg) translateY(-20px);
    }

    .button-container {
        padding-top: 0%;
        display: flex;
        justify-content: center;
        transform: rotate(-4deg);
    }

    .button-frame {
        display: block;
        width: 62%;
        margin-bottom: 0.2rem;
    }

    .button-text {
        left: 50%;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 1px;
        top: 50%;
    }
}
